/* Write your code here. */

.emojiCard {
  height: 120px;
  width: 120px;
  margin: 5px;
  background-color: #ffffff33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.button1 {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline: none;
}

.image1 {
  height: 80px;
}

@media (min-width: 768px) {
  .emojiCard {
    height: 200px;
    width: 200px;
  }

  .image1 {
    height: 120px;
  }
}
