/* Write your code here. */
.scoreCardFinal {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.scoreFinal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.winLogo {
  height: 90%;
  width: 50%;
}

.win {
  color: white;
  font-family: roboto;
  font-size: 30px;
  font-weight: bold;
}

.bestScore {
  font-family: roboto;
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin: 0px;
  padding-left: 10px;
  padding-bottom: 0px;
}

.score2 {
  color: #6a59ff;
  font-family: roboto;
  font-size: 26px;
  font-weight: bold;
  padding-left: 12px;
  margin: 0px;
}

.button2 {
  margin: 10px;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  border-width: 0px;
  background-color: #ffce27;
  font-family: roboto;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

@media (min-width: 768px) {
  .winLogo {
    height: 500px;
  }

  .win {
    font-size: 60px;
  }

  .bestScore {
    font-size: 44px;
  }

  .score2 {
    font-size: 52px;
  }

  .button2 {
    margin: 10px;
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 12px;
    border-width: 0px;
    background-color: #ffce27;
    font-family: roboto;
    font-weight: 600;
    cursor: pointer;
    font-size: 28px;
  }
}
